@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #fff;
}

.container{
  background-color: #2f3542;
  display: flex;
  justify-content: space-between;
}

.map-right{
  flex: 1;
}

.information-left{
  flex: 1;
  
}

.information-left .container-info{
  flex-direction: column;
  display: flex;
  justify-content: center;
  

}

.information-left .container-info .subcontainer{
  border: 0.5px dashed #fff;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  padding-bottom: 20;
  margin-left: 20px;
}

.information-left .container-info h1{
  padding: 20px;
  height: auto;

  font-size: 3  0px;
}

.information-left .container-info .container-txt{
  padding: 20px;
  height: auto;
}


.information-left .container-info .container-txt strong{
  margin-right: 10px;
  font-size: 22px;
  
}

.information-left .container-info .container-txt span{
  margin-right: 10px;
  font-size: 22px;
}